

body {
    padding: auto;
    margin: auto;
    color: black;
    font-size: 20px;
    background-image: url(./assets/bg.jpg);
  }
  


#img{
    float: left;
    height: auto; 
    max-width:20%;
    margin: 5px;
}


h3 {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  padding-top: 15px;
  color: gray;
}


h1 {
   
    border-bottom: 3px solid black;
    padding-bottom:3px;
    font-family: 'Fjalla One', sans-serif;
    padding-top: 50px;
}

.footer {
  position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
  }


p {
 font-size: 25px;
 font-family: 'Jost', sans-serif;
 
 
} 

#descriptions {
  font-size: medium;
  font-family: 'Lato', sans-serif;
  padding-top: 15px;
  background-color: #281831;
  color: gray;
  
}

h5 {
  font-family: 'Fjalla One', sans-serif;
  
}

.container {
  margin-top: 5%;
  padding-bottom: 10px;
  background-color: #281831;
  color: gray;
  
  
}

.card {
  width: 20%;
  margin: auto;
  margin-top: 25px;
  background-color:#281831!important;
}

.fa{
  color: black;
}

.carousel {
  margin: auto;
  padding-top: 20px;
  width:60%;
  height:60%;
  
}